.card{
  margin: 5px;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
  background-color: white;
  display:flex;
  flex-direction: column;
 
}

.card_top{
  display: flex;
  gap: 5px;
}

.card_top_labels{
  flex: 1;
  display:flex;
  gap: 10px;
}

.card_top svg{
  opacity: 0;
  
}

.card:hover .card_top svg{
  opacity: 1;
}

.card_title{
  font-weight: bold;
}

.card_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_footer svg{
width: 14px;
height: 14px;
}


.card_footer p{
  display: flex;
  gap: 5px;
  align-items: center;
}

.card_top_more{
  position:relative;
}

.card_dropdown{
  background-color: #fff;
  width: 130px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 0 20px rgb(43, 43, 43);
}

.card_dropdown p{
  cursor:pointer;
}