.header-container
  {
    display: flex;
    justify-content: space-between;
    background-color: #007ccd;
    color: white;
    padding: 10px;
    
}

  a{
  text-decoration:none;
  color: white;
  padding: 5px 5px;
  margin: 0px 2.5px;
  background-color: #3fc4ec;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

}

.header-menu a{
  background-color: #007ccd
}
#sign-up{
  background-color: #80d84e;
}
#login{
  background-color: #3fc4ec;
 
}

#login:hover{
  background-color: #70deff79;
}

#sign-up:hover{
  background-color: #e1ffd0c0;
}

.navbar-menu:hover{
  background-color: #7ecbffb0;
  
}

.logo-kanban{
  opacity: 0.5;
}

.logo-kanban:hover{
  opacity: 1;
}

.sign-up-now{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  background-color: rgb(255, 255, 181);
}

.sign-up-now a:hover{
  background-color: #92d8ee;
}